<div id="footer" class="ng-scope">
    <div class="container">
        <div class="clearfix"></div>
        <div class="copy-text">All Rights Reserved to The Ministry of Transportation and Communication (Studio 5)-2024
        </div><a href="https://mada.org.qa/" target="_blank"><img
                src="https://monitor.mada.org.qa/acc/en/N1EuEczqIXmhWhrWDdYIXALNseSGpmAc5vGQejSV4WhaNJ9gOpNDTU0hqGbI"
                alt="Mada National Web Accreditation, Access Certified"></a>
    </div><button class="scroll-top scroll-top-en" (click)="scrollTop()">Top</button>
</div>