<div id="main-container">
    <app-pagetitle [title]="title"></app-pagetitle>
    <div id="skipContent" class="container contact">
        @if(success)
        {
        <div class="row col-2" style="min-height: 90vh;">
            <div class="item subscribe-form">
                <h2 style="margin-bottom: 10px;">Contact us</h2>
                <div class="thankyou-box" tabindex="0">
                    <h2 class=""> Thank you</h2><span class=""> We appreciate that you've taken the time to write
                        us</span><br><span class=""> We'll get back to you very soon </span>
                </div>
            </div>
            <div class="item"><img src="../../../assets/images/subscribe-right.png" alt="Image "></div>
        </div>
        }
        @else {
        <h2 tabindex="0" id="contactUsHeading" aria-label="Contact us page">Contact us</h2>
        <div class="row noFlex">
            <div class="col s12 m12 l12 xl7">
                <p><strong>Thank you for your interest in Studio 5</strong></p>
                <p>Please fill out the form below to receive our update</p>

                @if (isEmptyObj()) {

                <div class="error-container fail" tabindex="0">
                    <h5>There is a problem with the form, please check and correct the following:</h5>
                    <ul>
                        @for (item of getObjectKeys(ErrorObj) ; track $index) 
                        {
                            <li>
                                <label tabindex="0" class="error" [attr.for]="item">
                                    {{ ErrorObj[item] }}
                                  </label>
                            </li>
                        }

                    </ul>
                </div>
                }

                <div class="row noFlex">
                    <div class="col s12 m10 l9">
                        <form [formGroup]="formData" (ngSubmit)="submitForm()">
                            <div class="row noFlex">
                                @for (item of inputData; track $index) {

                                @switch (item.type) {
                                @case ('checkbox') {
                                <div class="col s12 m12">
                                    <div class="input-check subscribe-items checkboxNew"><br>
                                        <input formControlName={{item.key}} id={{item.key}} name={{item.key}}
                                            type="checkbox" class="checkbox-holder">

                                        <label for={{item.key}}><span class="en">{{item.label}}


                                                <button type="button" tabindex="0" aria-label="Read privacy policy"
                                                    class="modal-trigger underline-text"
                                                    style="border: 0px; background: none;">Privacy
                                                    Policy</button>.</span></label>
                                    </div>
                                </div>

                                }
                                @case ('email') {
                                <div class="col s12 m6 l6">
                                    <div class="input-field item"><input id={{item.key}} name={{item.key}}
                                            formControlName={{item.key}} autocomplete="no"
                                            placeholder={{item.placeholder}} type="text" value=""><label
                                            for={{item.key}} class="active">{{item.label}}<span
                                                class="asterisk">*</span></label></div>
                                </div>
                                }
                                @case ('mobile') {
                                <div class="col s12 m6 l6">
                                    <div class="input-field item"><input id={{item.key}} name={{item.key}}
                                            formControlName={{item.key}} autocomplete="no"
                                            placeholder={{item.placeholder}} maxlength="8" type="text" value=""><label
                                            for={{item.key}} class="active">{{item.label}}<span
                                                class="asterisk">*</span></label></div>
                                </div>
                                }
                                @case ('textarea')
                                {
                                <div class="col s12 m12">
                                    <div class="input-field item"><textarea id={{item.key}} name={{item.key}}
                                            formControlName={{item.key}} placeholder="Type your message"
                                            rows="8"></textarea><label for={{item.key}}
                                            class="active">{{item.label}}<span class="asterisk">*</span></label></div>
                                </div>
                                }
                                @default {
                                <div class="col s12 m6 l6">
                                    <div class="input-field item"><input id={{item.key}} name={{item.key}}
                                            formControlName={{item.key}} autocomplete="no"
                                            placeholder={{item.placeholder}} type="text" value=""><label
                                            for={{item.key}} class="active">{{item.label}}<span
                                                class="asterisk">*</span></label></div>
                                </div>
                                }
                                }
                                }







                                <div class="col s12 m12">

                                    <div class="btn-wrap"><button aria-label="" type=""
                                            class="btn red waves-effect waves-light">Submit<i
                                                class="material-icons en">arrow_forward</i></button></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col s12 m12 l12 xl5"><img alt="" src="../../../assets/images/contact-right.png"></div>
        </div>
        }

    </div>
    <div id="modal1" class="modal" role="dialog" tabindex="0">
        <div class="modal-content modal-no-close"><span class="badge modalClose"><button type="button"
                    aria-label="close" tabindex="0" class="close"><i class="material-icons">close</i></button></span>
            <div>
                <h3>Privacy Policy</h3>
            </div>
            <div>
                <p>Ministry of Communications and Information Technology&nbsp;(MCIT) is committed to protecting your
                    privacy and providing a secure website environment. MCIT does not collect personal information about
                    you when you visit our website unless you specifically and knowingly choose to provide such
                    information to us. Any personal information which you volunteer will be treated with the highest
                    standards of security and confidentiality.</p>

                <p>We will not use personal information you provide for commercial use. Personal information will not be
                    forwarded to third parties unless MCIT is required by law or that entity is relevant to your
                    enquiry.</p>

                <p>This statement relates to our privacy practices in connection with this website. We are not
                    responsible for the content or privacy practices o</p>

                <div class="bootstrapiso" data-original-title="" id="mttContainer"
                    style="left: 0px; top: 0px; position: fixed; z-index: 100000200; width: 500px; margin-left: -250px; background-color: rgba(0, 0, 0, 0); pointer-events: none; transform: translate(358px, 131px);"
                    title="">&nbsp;</div>
            </div>
        </div>
        <div class="modal-footer"><a href="#!" class="modal-close waves-effect waves-green btn-flat">Ok</a></div>
    </div>
    <app-lower-img></app-lower-img>
    <div class="bgGrey">
    </div>