<div class="gallery">
    <app-pagetitle [title]="title"></app-pagetitle>

    <div id="skipContent">
        <div id="main-container" class="single-news">
            <div>
                <div class="container"><span class="multi-square"><b><i></i></b></span><span
                        class="grey-square-rotate"></span><span class="grey-square-rotate bottom"></span><span
                        class="orange-circle"></span>
                    <nav class="breadcrumb" id="breadcrumb-wrap" aria-label="breadcrumb">
                        <ul>
                            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                            <li class="breadcrumb-item"><a routerLink="/media-center">Media Center</a></li>
                            <li class="breadcrumb-item"><a tabindex="0"
                                    aria-current="page"><span>{{Data.title}}</span></a></li>
                        </ul>
                    </nav>
                    <h2 id="gallery-title" tabindex="0" aria-label="test Gallery Published <time datetime=&quot;2023-12-17T08:44:16+00:00&quot; class=&quot;datetime&quot;>17 December 2023</time>
 
    ">{{Data.title}}</h2>
                    <div class="date-wrap" [innerHTML]="Data.date">
                    </div>
                    <div class="content" [innerHTML]="Data.description">

                    </div>
                </div>
                <div class="gallery-news">
                    <div class="container">
                        <div class="img-wrap">
                            <div class="item-list">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div>


                                            <div
                                                class="field field--name-field-media-image field--type-image field--label-visually_hidden">
                                                <div class="field__label visually-hidden">Image</div>
                                                <div class="field__item"> <img loading="lazy"
                                                        src="/drupal-app/web/sites/default/files/2023-11/12.%203d%20print%20b_0.jpg"
                                                        width="4032" height="3024" alt="m">

                                                </div>
                                            </div>

                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div>


                                            <div
                                                class="field field--name-field-media-image field--type-image field--label-visually_hidden">
                                                <div class="field__label visually-hidden">Image</div>
                                                <div class="field__item"> <img loading="lazy"
                                                        src="/drupal-app/web/sites/default/files/2023-11/MicrosoftTeams-image%20%288%29.png"
                                                        width="600" height="500" alt="3D Print a Mini-City">

                                                </div>
                                            </div>

                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div>


                                            <div
                                                class="field field--name-field-media-image field--type-image field--label-visually_hidden">
                                                <div class="field__label visually-hidden">Image</div>
                                                <div class="field__item"> <img loading="lazy"
                                                        src="/drupal-app/web/sites/default/files/2023-11/3d.jpg"
                                                        width="4032" height="3024" alt="m">

                                                </div>
                                            </div>

                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div>


                                            <div
                                                class="field field--name-field-media-image field--type-image field--label-visually_hidden">
                                                <div class="field__label visually-hidden">Image</div>
                                                <div class="field__item"> <img loading="lazy"
                                                        src="/drupal-app/web/sites/default/files/2023-11/Green%20is%20the%20New%20Smart%20Main%20Theme%20web%20size%201_1_0.jpg"
                                                        width="4500" height="3750" alt="Green is the New Smart">

                                                </div>
                                            </div>

                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div>


                                            <div
                                                class="field field--name-field-media-image field--type-image field--label-visually_hidden">
                                                <div class="field__label visually-hidden">Image</div>
                                                <div class="field__item"> <img loading="lazy"
                                                        src="/drupal-app/web/sites/default/files/2023-11/spin.jpg"
                                                        width="300" height="250" alt="spin">

                                                </div>
                                            </div>

                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div>


                                            <div
                                                class="field field--name-field-media-image field--type-image field--label-visually_hidden">
                                                <div class="field__label visually-hidden">Image</div>
                                                <div class="field__item"> <img loading="lazy"
                                                        src="/drupal-app/web/sites/default/files/2023-11/Greenify%20Your%20Home%20web%20size%201.jpg"
                                                        width="300" height="250" alt="m">

                                                </div>
                                            </div>

                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h3 id="slideCount" class="gallery-slider-count" aria-label="test Gallery Photo 1 of 6"
                        tabindex="0"><small>Photo </small><strong>1 / 6</strong></h3>
                    <div class="slick-slider slider slick-initialized" dir="ltr"><button data-role="none"
                            class="slick-prev slick-arrow slick-disabled" type="button" id="slide-prev"
                            aria-labelledby="slideCount slide-prev" style="display: block;">Previous gallery
                            image</button>
                        <div class="slick-list" style="padding: 0px;">
                            <div class="slick-track"
                                style="width: 8176px; opacity: 1; transform: translate3d(-1168px, 0px, 0px);">
                                <div data-index="-2" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true"
                                    style="width: 584px;">
                                    <div>
                                        <div class="item" tabindex="-1" style="width: 100%; display: inline-block;">
                                            <div class="sliderHeight"
                                                style="background-image: url(&quot;http://51.136.51.121/drupal-app/web/sites/default/files/2023-11/spin.jpg&quot;);">
                                                <img src="http://51.136.51.121/drupal-app/web/sites/default/files/2023-11/spin.jpg"
                                                    alt=""></div>
                                        </div>
                                    </div>
                                </div>
                                <div data-index="-1" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true"
                                    style="width: 584px;">
                                    <div>
                                        <div class="item" tabindex="-1" style="width: 100%; display: inline-block;">
                                            <div class="sliderHeight"
                                                style="background-image: url(&quot;http://51.136.51.121/drupal-app/web/sites/default/files/2023-11/Greenify%20Your%20Home%20web%20size%201.jpg&quot;);">
                                                <img src="http://51.136.51.121/drupal-app/web/sites/default/files/2023-11/Greenify%20Your%20Home%20web%20size%201.jpg"
                                                    alt=""></div>
                                        </div>
                                    </div>
                                </div>
                                <div data-index="0" class="slick-slide slick-active slick-center slick-current"
                                    tabindex="-1" aria-hidden="false" style="outline: none; width: 584px;">
                                    <div>
                                        <div class="item" tabindex="-1" style="width: 100%; display: inline-block;">
                                            <div class="sliderHeight"
                                                style="background-image: url(&quot;http://51.136.51.121/drupal-app/web/sites/default/files/2023-11/12.%203d%20print%20b_0.jpg&quot;);">
                                                <img src="http://51.136.51.121/drupal-app/web/sites/default/files/2023-11/12.%203d%20print%20b_0.jpg"
                                                    alt=""></div>
                                        </div>
                                    </div>
                                </div>
                                <div data-index="1" class="slick-slide" tabindex="-1" aria-hidden="true"
                                    style="outline: none; width: 584px;">
                                    <div>
                                        <div class="item" tabindex="-1" style="width: 100%; display: inline-block;">
                                            <div class="sliderHeight"
                                                style="background-image: url(&quot;http://51.136.51.121/drupal-app/web/sites/default/files/2023-11/MicrosoftTeams-image%20%288%29.png&quot;);">
                                                <img src="http://51.136.51.121/drupal-app/web/sites/default/files/2023-11/MicrosoftTeams-image%20%288%29.png"
                                                    alt=""></div>
                                        </div>
                                    </div>
                                </div>
                                <div data-index="2" class="slick-slide" tabindex="-1" aria-hidden="true"
                                    style="outline: none; width: 584px;">
                                    <div>
                                        <div class="item" tabindex="-1" style="width: 100%; display: inline-block;">
                                            <div class="sliderHeight"
                                                style="background-image: url(&quot;http://51.136.51.121/drupal-app/web/sites/default/files/2023-11/3d.jpg&quot;);">
                                                <img src="http://51.136.51.121/drupal-app/web/sites/default/files/2023-11/3d.jpg"
                                                    alt=""></div>
                                        </div>
                                    </div>
                                </div>
                                <div data-index="3" class="slick-slide" tabindex="-1" aria-hidden="true"
                                    style="outline: none; width: 584px;">
                                    <div>
                                        <div class="item" tabindex="-1" style="width: 100%; display: inline-block;">
                                            <div class="sliderHeight"
                                                style="background-image: url(&quot;http://51.136.51.121/drupal-app/web/sites/default/files/2023-11/Green%20is%20the%20New%20Smart%20Main%20Theme%20web%20size%201_1_0.jpg&quot;);">
                                                <img src="http://51.136.51.121/drupal-app/web/sites/default/files/2023-11/Green%20is%20the%20New%20Smart%20Main%20Theme%20web%20size%201_1_0.jpg"
                                                    alt=""></div>
                                        </div>
                                    </div>
                                </div>
                                <div data-index="4" class="slick-slide" tabindex="-1" aria-hidden="true"
                                    style="outline: none; width: 584px;">
                                    <div>
                                        <div class="item" tabindex="-1" style="width: 100%; display: inline-block;">
                                            <div class="sliderHeight"
                                                style="background-image: url(&quot;http://51.136.51.121/drupal-app/web/sites/default/files/2023-11/spin.jpg&quot;);">
                                                <img src="http://51.136.51.121/drupal-app/web/sites/default/files/2023-11/spin.jpg"
                                                    alt=""></div>
                                        </div>
                                    </div>
                                </div>
                                <div data-index="5" class="slick-slide" tabindex="-1" aria-hidden="true"
                                    style="outline: none; width: 584px;">
                                    <div>
                                        <div class="item" tabindex="-1" style="width: 100%; display: inline-block;">
                                            <div class="sliderHeight"
                                                style="background-image: url(&quot;http://51.136.51.121/drupal-app/web/sites/default/files/2023-11/Greenify%20Your%20Home%20web%20size%201.jpg&quot;);">
                                                <img src="http://51.136.51.121/drupal-app/web/sites/default/files/2023-11/Greenify%20Your%20Home%20web%20size%201.jpg"
                                                    alt=""></div>
                                        </div>
                                    </div>
                                </div>
                                <div data-index="6" tabindex="-1" class="slick-slide slick-center slick-cloned"
                                    aria-hidden="true" style="width: 584px;">
                                    <div>
                                        <div class="item" tabindex="-1" style="width: 100%; display: inline-block;">
                                            <div class="sliderHeight"
                                                style="background-image: url(&quot;http://51.136.51.121/drupal-app/web/sites/default/files/2023-11/12.%203d%20print%20b_0.jpg&quot;);">
                                                <img src="http://51.136.51.121/drupal-app/web/sites/default/files/2023-11/12.%203d%20print%20b_0.jpg"
                                                    alt=""></div>
                                        </div>
                                    </div>
                                </div>
                                <div data-index="7" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true"
                                    style="width: 584px;">
                                    <div>
                                        <div class="item" tabindex="-1" style="width: 100%; display: inline-block;">
                                            <div class="sliderHeight"
                                                style="background-image: url(&quot;http://51.136.51.121/drupal-app/web/sites/default/files/2023-11/MicrosoftTeams-image%20%288%29.png&quot;);">
                                                <img src="http://51.136.51.121/drupal-app/web/sites/default/files/2023-11/MicrosoftTeams-image%20%288%29.png"
                                                    alt=""></div>
                                        </div>
                                    </div>
                                </div>
                                <div data-index="8" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true"
                                    style="width: 584px;">
                                    <div>
                                        <div class="item" tabindex="-1" style="width: 100%; display: inline-block;">
                                            <div class="sliderHeight"
                                                style="background-image: url(&quot;http://51.136.51.121/drupal-app/web/sites/default/files/2023-11/3d.jpg&quot;);">
                                                <img src="http://51.136.51.121/drupal-app/web/sites/default/files/2023-11/3d.jpg"
                                                    alt=""></div>
                                        </div>
                                    </div>
                                </div>
                                <div data-index="9" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true"
                                    style="width: 584px;">
                                    <div>
                                        <div class="item" tabindex="-1" style="width: 100%; display: inline-block;">
                                            <div class="sliderHeight"
                                                style="background-image: url(&quot;http://51.136.51.121/drupal-app/web/sites/default/files/2023-11/Green%20is%20the%20New%20Smart%20Main%20Theme%20web%20size%201_1_0.jpg&quot;);">
                                                <img src="http://51.136.51.121/drupal-app/web/sites/default/files/2023-11/Green%20is%20the%20New%20Smart%20Main%20Theme%20web%20size%201_1_0.jpg"
                                                    alt=""></div>
                                        </div>
                                    </div>
                                </div>
                                <div data-index="10" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true"
                                    style="width: 584px;">
                                    <div>
                                        <div class="item" tabindex="-1" style="width: 100%; display: inline-block;">
                                            <div class="sliderHeight"
                                                style="background-image: url(&quot;http://51.136.51.121/drupal-app/web/sites/default/files/2023-11/spin.jpg&quot;);">
                                                <img src="http://51.136.51.121/drupal-app/web/sites/default/files/2023-11/spin.jpg"
                                                    alt=""></div>
                                        </div>
                                    </div>
                                </div>
                                <div data-index="11" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true"
                                    style="width: 584px;">
                                    <div>
                                        <div class="item" tabindex="-1" style="width: 100%; display: inline-block;">
                                            <div class="sliderHeight"
                                                style="background-image: url(&quot;http://51.136.51.121/drupal-app/web/sites/default/files/2023-11/Greenify%20Your%20Home%20web%20size%201.jpg&quot;);">
                                                <img src="http://51.136.51.121/drupal-app/web/sites/default/files/2023-11/Greenify%20Your%20Home%20web%20size%201.jpg"
                                                    alt=""></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><button data-role="none" class="slick-next slick-arrow" id="slide-next" type="button"
                            aria-labelledby="slideCount slide-next" style="display: block;">Next gallery image</button>
                        <ul class="slick-dots" style="display: block;">
                            <li class="slick-active"><button>1</button></li>
                            <li class=""><button>2</button></li>
                            <li class=""><button>3</button></li>
                            <li class=""><button>4</button></li>
                            <li class=""><button>5</button></li>
                            <li class=""><button>6</button></li>
                        </ul>
                    </div>
                </div>
                <div class="container">
                    <div class="view-more gallery"><a routerLink="/media-center"><i
                                class="material-icons ar">arrow_backward</i> Back</a></div>
                </div>
            </div>
        </div>
    </div>

</div>