<div id="register-wrap" class="ng-scope en">
    <div class="container home-subscribe en"><span class="multi-square-orange"><b><i></i></b></span>
        <div><img src="../../../assets/images/mail.svg" class="mail-icon" alt=""></div>
        <p>Our latest insights, delivered straight to your inbox</p>
        <p><a class="red-btn btn btn-signup" aria-label="subscribe button for newsletter" routerLink="/subscribe">Subscribe
                <i class="material-icons en"></i></a></p>
    </div>
</div>