<div class="page-title en">
    <div class="container">
      <div class="head-title">
        
          <div class="share-page en">
            <h2>Share this page</h2>
            <a
              target="_blank"
              rel="noopener noreferrer"
              href="https://www.facebook.com/sharer/sharer.php?u=http://51.136.51.121/en/activities&amp;src=sdkpreparse"
              class="fb-xfbml-parse-ignore"
            >
              <span>Facebook</span>
              <i aria-label="Facebook" class="fa fa-facebook">
                &nbsp;
              </i>
            </a>
            <a
              target="_blank"
              rel="noopener noreferrer"
              href="http://twitter.com/share?text=Studio 5/6   Home&amp;url=http://51.136.51.121/en/activities"
            >
              <span>Twitter</span>
              <i class="twitter-icon">
                
              </i>
            </a>
          </div>
      
        <h2
          id="pageHeading"
          role="heading"
          tabIndex="-1"
          attr.aria-label="page heading {{title}}"
        >
          {{title}}
        </h2>
      </div>
    </div>
  </div>