<div class="app-slider stickySocial">
    <div class="video-box">
        <div class="video-btn"><button class="btn-toggle play" aria-label="Pause the video">Pause</button></div><video
            autoplay="" playsinline="" loop=""
            style="background-image: url(&quot;https://studio5drupaldev.applab.qa/&quot;);">
            <source src="https://studio5drupaldev.applab.qa/{{exactPath}}">
        </video>
    </div>
    <div class="banner">
        <div>
             <div class="desc en" [innerHTML]="contact">
              
            </div> 
        </div> 
    </div>
</div>
<div class="makeHome" id="skipContent"></div>