<app-pagetitle [title]="title"></app-pagetitle>

<div id="main-content">
    
    <div class="container">
        <nav class="breadcrumb" id="breadcrumb-wrap" aria-label="breadcrumb">
            <ul>
                <li class="breadcrumb-item"><a routerLink="/">Home</a> </li>
                <li class="breadcrumb-item"><a tabindex="0" aria-current="page" routerLink="/forgot-password"><span>Forgot
                            password</span></a></li>
            </ul>
        </nav>
    </div>
    <div id="skipContent">
        <div id="main-container">
            
            <div class="container">
                <div class="row col-8">
                    <form [formGroup]="formData" (ngSubmit)="handleSubmit()" class="login-form">
                        @if (isEmptyObj()) {

                            <div class="error-container fail" tabindex="0">
                                <h5>There is a problem with the form, please check and correct the following:</h5>
                                <ul>
                                    @for (item of getObjectKeys(errorObj) ; track $index) 
                                    {
                                        <li>
                                            <label tabindex="0" class="error" [attr.for]="item">
                                                {{ errorObj[item] }}
                                              </label>
                                        </li>
                                    }
            
                                </ul>
                            </div>
                            }

                        @for (item of inputData; track $index) {
                           
                            @switch (item.type) {
                                @case ("email") {
                                    <div class="input-field item"><input formControlName={{item.key}}  name={{item.key}} placeholder="Type your email"
                                        class="fontEnglish" id={{item.key}} type="text" value=""><label for={{item.key}}
                                        style="left: 0px; right: auto;">{{item.label}}</label><span class="helper-text"
                                        data-error="Required field."></span></div>
                                }
                            }
                        }
                        
                        
                       
                        <div class="btn-wrap reset-button-container"><button class="btn blue login">Reset password <i
                                    class="material-icons en">arrow_forward</i></button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>