
<div class="video">
    <app-pagetitle [title]="title"></app-pagetitle>

    <div id="skipContent">
        <div id="main-container" class="single-news">
            <div>
                <div class="container"><span class="multi-square"><b><i></i></b></span><span
                        class="grey-square-rotate"></span><span class="grey-square-rotate bottom"></span><span
                        class="orange-circle"></span>
                    <nav class="breadcrumb" id="breadcrumb-wrap" aria-label="breadcrumb">
                        <ul>
                            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                            <li class="breadcrumb-item"><a routerLink="/media-center">Media Center</a></li>
                            <li class="breadcrumb-item"><a tabindex="0" aria-current="page"
                                    ><span>{{Data.title}}</span></a></li>
                        </ul>
                    </nav>
                    <h2 id="gallery-title" tabindex="0" aria-label="Build a VR Environment Published <time datetime=&quot;2019-10-24T10:24:19+00:00&quot; class=&quot;datetime&quot;>24 October 2019</time>
 
    ">{{Data.title}}</h2>
                    <div class="date-wrap" [innerHTML]="Data.date">

                    </div>
                    <div class="content" [innerHTML]="Data.description">
                       
                    </div>
                </div>
                <div class="container">
                    <div class="view-more video"><a routerLink="/media-center"><i
                                class="material-icons ar">arrow_backward</i> Back</a></div>
                </div>
            </div>
        </div>
    </div>
 <app-lower-img></app-lower-img>
</div>